    body {
      font-family: Montserrat, Arial, sans-serif;
      background: #f9f9f9;
      margin: 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
      height: 60px;
      background: white;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .logo {
      display: flex;
      align-items: center;
      padding-left: 5px;
      padding-top: 10px;
    }

    .logo img {
      height: 65px;
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 18px;

    }

    .links {
      color: #3a454d;
      text-decoration: none;
      font-weight: bold;
      padding: 8px;
    }

    .choose-career {
      background: #2b5a86;
      color: white;
      height: 60px;
      display: flex;
      font-weight: bold;
      text-decoration: none;
      align-items: center;
      padding: 0px 26px;
    }

    .links:hover {
      color: #a8c4ff;
    }

    .banner {
      background: url('images/tech.png');
      height: 350px;
      display: flex;
      align-items: center;
      padding-left: 40px;
      color: white;
    }

    .quiz-banner {
      background: url('https://images.pexels.com/photos/5439434/pexels-photo-5439434.jpeg') center/cover;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 40px;
      font-weight: bold;
    }

    .quote {
      text-align: center;
      margin: 40px 16px;
      line-height: 1.5;
    }

    .quote p {
      max-width: 800px;
      margin: 0 auto;
      color: #747d84;
      font-size: 17px
    }

    .box {
      display: flex;
      flex-wrap: wrap;
    }

    .left,
    .right {
      width: 50%;
      background: #f3f6f8;
    }

    .left h1 {
      color: #31383d;
      padding: 0px 55px;
      padding-top: 25px;
    }

    .left p {
      color: #56626c;
      line-height: 1.6;
      font-size: 17px;
      padding: 0px 55px;
    }

    .right img {
      padding: 0px 152px;
      width: 550px;
      height: 350px;
    }

    .steps {
      max-width: 1100px;
      margin: auto;
      padding: 50px 0px;
    }

    .step {
      display: grid;
      grid-template-columns: 120px 1fr;
      align-items: start;
      margin-bottom: 36px
    }

    .num {
      font-size: 86px;
      font-weight: 800;
      color: rgba(19, 44, 77, 0.148);
      line-height: 1.25;
    }

    .step h4 {
      font-size: 20px;
      color: #132c4d;
      margin-bottom: 3px;
      padding-left: 10px;
    }

    .step p {
      color: #555;
      line-height: 1.5;
      font-size: 15px;
      padding-left: 10px;
    }

    .btn {
      padding: 8px 14px;
      background: #2b5a86;
      color: #fff;
      border-radius: 6px;
      border: none;
      font-weight: 700;
      cursor: pointer;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 24px;
      background: #fff;
    }

    .socials {
      display: flex;
      gap: 10px
    }

    .social {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
    }

    .social img {
      width: 20px;
      height: 20px;
    }

    .category-menu {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 60px;
      left: 0px;
      width: 50px;
      height: 600px;
      padding: 10px;
    }

    .category-links {
      padding: 10px 0px;
      color: black;
      text-decoration: none;
      font-size: 15px;
      text-align: left;

    }

    .category-block {
      background: white;
      padding: 30px;
      margin-top: 20px;
      border-radius: 15px;
      border: #0000000c solid;
    }

    .category-title {
      padding: 40px 0px;
      font-size: 26px;
      color: #0b2447;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .careers-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    .container {
      margin-left: 90px;
      padding: 20px 30px;
    }

    .career-card {
      background: #f0f4ff;
      padding: 20px;
      font-size: 14px;
      border-radius: 10px;
      font-weight: normal;
      color: #000000;
      cursor: pointer;
      border: 2px solid #dce6ff;
    }

    .career-card:hover {
      background: #dce6ff;
    }

    .button {
      padding: 50px;
      color: #000;
      ;
    }

     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Segoe UI", sans-serif;
        }

        body {
            background: url("images/loginform1.png") no-repeat center center/cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .contact-box {
            background: rgba(255, 255, 255, 0.92);
            padding: 30px;
            border-radius: 12px;
            width: 420px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px);
        }

        h1 {
            text-align: center;
            margin-bottom: 18px;
            font-size: 28px;
            color: #003d99;
        }

        label {
            font-weight: 600;
            display: block;
            margin-bottom: 6px;
            color: #333;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 6px;
            border: 1px solid #bbb;
            font-size: 15px;
            outline: none;
        }

        input:focus, textarea:focus, select:focus {
            border-color: #0066ff;
        }

        textarea {
            resize: none;
        }

        .options {
            margin-bottom: 15px;
        }

        .options input {
            margin-right: 6px;
        }

        .btn {
            width: 100%;
            padding: 12px;
            background: #132c4d;
            border: none;
            color: white;
            font-size: 17px;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.3s;
        }

        .btn:hover {
            background: #132c4d;
        }